<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cetime.project0925">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=",COMMA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Fragment.board.toProfessor.FromStudentReadActivity"></activity>
        <activity android:name=".Fragment.board.toProfessor.FromStudentActivity" />
        <activity android:name=".Fragment.board.toProfessor.ToProfessorActivity" />
        <activity
            android:name=".reference.Splashscreen"
            android:label=",COMMA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragment.mypage.MypageCheckActivity" />
        <activity android:name=".Fragment.mypage.MypageModifyActivity" />
        <activity android:name=".Fragment.chat.ChatRoomActivity" />
        <activity android:name=".Fragment.chat.ChatFindActivity" />
        <activity android:name=".Fragment.CEinfo.ClassroomActivity" />
        <activity android:name=".Fragment.CEinfo.CalendarActivity" />
        <activity android:name=".Fragment.board.proNotice.ProNoticeReadActivity" />
        <activity android:name=".Fragment.board.proNotice.ProNoticeModifyActivity" />
        <activity android:name=".Fragment.board.proNotice.ProNoticeAddActivity" />
        <activity android:name=".Fragment.board.proNotice.ProNoticeActivity" />
        <activity android:name=".Fragment.board.community.CommunityModifyActivity" />
        <activity android:name=".Fragment.board.community.CommunityReadActivity" />
        <activity android:name=".Fragment.board.notice.NoticeModifyActivity" />
        <activity android:name=".Fragment.board.notice.NoticeReadActivity" />
        <activity android:name=".Fragment.board.community.CommunityAddActivity" />
        <activity android:name=".Fragment.board.notice.NoticeAddActivity" />
        <activity android:name=".Fragment.board.toProfessor.ProfessorListActivity" />
        <activity
            android:name=".Fragment.board.community.CommunityActivity"
            android:label="@string/title_activity_community"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Fragment.board.notice.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Fragment.schedule.DeleteCourseActivity" />
        <activity android:name=".Fragment.schedule.AddCourseActivity" />
        <activity android:name=".Fragment.HomeActivity" />
        <activity android:name=".FindPwActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cetime.project0925.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>